@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap");

* {
  font-family: "Raleway", sans-serif;
}

#user-email {
  color: #9A5EBA;
}

#righty {
  text-align: left;
}

.space {
  margin-top: calc(50vh - 5rem);
}

.item {
    display: none;
}